<div class="table-container">
  <table>
    <thead>
      <tr>
        <!-- * DOWN <i class="fa-solid fa-sort-down"></i> -->
        <!-- * UP <i class="fa-solid fa-sort-up"></i> -->
        <th>Name<i class="fa-solid fa-sort-down"></i></th>
        <th>Calories<i class="fa-solid fa-sort-down"></i></th>
        <th>Type<i class="fa-solid fa-sort-down"></i></th>
        <th>Name<i class="fa-solid fa-sort-down"></i></th>
        <th>Name<i class="fa-solid fa-sort-down"></i></th>
        <th>Name<i class="fa-solid fa-sort-down"></i></th>
        <th>Date<i class="fa-solid fa-sort-down"></i></th>

      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Lorem, ipsum dolor.</td>
        <td>Lorem, ipsum dolor.</td>
        <td>Lorem, ipsum dolor.</td>
        <td>Lorem, ipsum dolor.</td>
        <td>Lorem, ipsum dolor.</td>
        <td>Lorem, ipsum dolor.</td>
        <td>Lorem, ipsum dolor.</td>
      </tr>
    </tbody>
    <tbody>
      <tr>
        <td>Lorem, ipsum dolor.</td>
        <td>Lorem, ipsum dolor.</td>
        <td>Lorem, ipsum dolor.</td>
        <td>Lorem, ipsum dolor.</td>
        <td>Lorem, ipsum dolor.</td>
        <td>Lorem, ipsum dolor.</td>
        <td>Lorem, ipsum dolor.</td>
      </tr>
    </tbody>
  </table>
</div>
