.legends-container {
  width: 100%;
  height: 50px;
  margin-bottom: 30px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;}

li {
  display: flex;
  flex-direction: row;
  margin: 0px 50px;
  list-style: none;
}

li i{
  margin-top: 20px;
  margin-left: 20px;
}

img{
  max-width: 30px;
  margin-left: 25px;
}

