<div class="full-page-layer">
  <div class="banner-body">
    <div class="banner-title">Titulo</div>
    <div class="banner-message">Lorem ipsum dolor sit amet consectetur adipisicing elit. At, totam suscipit! Minus veniam, recusandae consequuntur, pariatur, cupiditate eius suscipit voluptates eveniet quis adipisci aliquam reprehenderit ipsa quas soluta a praesentium! Fugiat numquam quas porro sed laudantium ad, cumque soluta.</div>
  </div>
</div>

<div class="con">
  Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eligendi alias nemo vel quidem repellat ipsum, vitae maiores, enim unde amet obcaecati assumenda, error eius aut? Sunt, deleniti adipisci sequi animi debitis unde voluptatem non asperiores architecto modi, nam iste vero dolores aliquid. Aliquid illum alias possimus fugit dolorem laborum accusamus repellendus nemo id, accusantium obcaecati vitae tempora ipsam cumque? Cumque ipsam doloremque quam reprehenderit assumenda dignissimos libero. Dolore sed, assumenda molestias, provident delectus perferendis aliquam, dolores magnam nulla distinctio est! Omnis incidunt voluptates obcaecati totam in officiis voluptatem commodi exercitationem, distinctio quae non ut laborum eaque deserunt ullam fugiat. In.
</div>
