    <div  class="card-contnr">
      <div class="card-body">
        <img class="card-img" [src]="image" alt="" />
        <div class="info-section">
            <app-card-icons [recipeFeatures]="groupedLikes"></app-card-icons>
          <h3 class="card-title">{{title}}</h3>
        </div>
        <div class="card-desc">
          <span>Cook Time: {{cookTime}}</span>
          <br>
          <span>Ready in: {{readyInMinutes}} minutes</span>
          <br>
          <span>Prep time: {{prepTime}} minutes</span>


        </div>
        <button routerLink="details/{{id}}" (click)="getRecipeDetails()">Get Full Recipe</button>
        <!-- <button routerLink="details" (click)="getRecipeDetails()">Get Full Recipe</button> -->
      </div>
    </div>




<ng-template #loading>
  <app-loading></app-loading>
</ng-template>

<ng-template #error>
  <app-error [inputMsg]="'Something went wrong :('"></app-error>
</ng-template>

<!-- <div class="container-fluid">
  <pre>{{newRandomMap | json}} </pre>
</div> -->
