
.card-contnr {
  border-radius: 5px;
  width: 50%;
  margin: auto;
  margin-top: 5rem;
}

.card-body {
  display: flex;
  flex-direction: column;
  width: auto;
}

.card-img {
  border-radius: 5px;
  height: 100%;
  width: 100%;
  background-color: transparent;
  background-image: url("../../../assets/img/mountains.webp");
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
}
.info-section {
  font-weight: bolder;
  text-align: center;
  background-color: transparent;
}
.card-desc {
  background-color: transparent;
  padding: 20px 20px;
}
.card-summary {
  background-color: transparent;
  padding: 20px 20px;
}
.card-title {
  background-color: transparent;
}
.desc {
  background-color: transparent;
}

button {
  background-color: transparent;
  border: none;
  width: 100%;
}

button:hover {
  background-color: beige;
}
