    <div  class="card-contnr">
      <div class="card-body">
        <img class="card-img" [src]="image" alt="" />
        <div class="info-section"></div>
        <!-- <div class="info-section" *ngFor="let likes of newRandomMap.groupLikesforIcons"></div> -->
        <!-- <app-card-icons [recipeFeatures]="receta"></app-card-icons> -->
        <app-card-icons [recipeFeatures]="groupedLikes"></app-card-icons>
        <div class="card-desc">
          <span class="card-title">{{title}}</span>

        </div>
        <button routerLink="details/{{id}}" (click)="getRecipeDetails()">Get Full Recipe</button>
      </div>
    </div>


<!-- <ng-template #details>
  <app-card-details ></app-card-details>537306
</ng-template> -->

<ng-template #loading>
  <app-loading></app-loading>
</ng-template>

<ng-template #error>
  <app-error [inputMsg]="'Something went wrong :('"></app-error>
</ng-template>

<!-- <div class="container-fluid">
  <pre>{{newRandomMap | json}} </pre>
</div> -->
