<section>
  <form class="form-container" [formGroup]="personalForm">
    <!-- * Start startEnrollmentStep section -->
    <ng-container *ngIf="currentStep[0] === startEnrollmentStep">
      <h1>Personal info</h1>
      <!-- <label for="name">Name: </label> -->
      <div class="field-contanier">
        <input
          placeholder="Name"
          class="input-field"
          type="text"
          id="name"
          formControlName="firstName"
        />
      </div>
      <!-- <label class="input-label" for="age">Age: </label> -->
      <div class="field-contanier">
        <input
          class="input-field"
          type="number"
          id="age"
          formControlName="age"
          placeholder="Age"
        />
      </div>
      <!-- <label for="weight">Weight: </label> -->
      <div class="radio-container">
        <input
          class="input-field input-field-wnh"
          placeholder="Weight"
          type="number"
          id="weight"
          formControlName="weigth"
        />
        <label for="kg"
          >Kg
          <input
            type="radio"
            name="heightUnit"
            id="kg"
            formControlName="heightUnit"
            value="kg"
          />
        </label>
        <label for="lb"
          >Lb
          <input
            type="radio"
            name="heightUnit"
            id="lb"
            formControlName="heightUnit"
            value="lb"
            checked
          />
        </label>
      </div>
      <!-- <label for="height">Height: </label> -->
      <div class="radio-container">
        <input
          class="input-field input-field-wnh"
          placeholder="Height"
          type="number"
          id="height"
          formControlName="height"
        />
        <label for="kg"
          >cm
          <input
            type="radio"
            name="weightUnit"
            id="kg"
            formControlName="weightUnit"
            value="cm"
          />
        </label>
        <label for="lb"
          >inch
          <input
            type="radio"
            name="weightUnit"
            id="lb"
            formControlName="weightUnit"
            value="inch"
            checked
          />
        </label>
      </div>
      <button
        class="form-button"
        [disabled]="!personalForm.valid"
        (click)="submitPersonal($event)"
      >
        Next
      </button>
    </ng-container>
    <!-- * End startEnrollmentStep section -->

    <!-- * Start confirmInfoStep section -->
    <ng-container *ngIf="currentStep[0] === confirmInfoStep">
      <label for="weight">Name: </label>
      <div class="field-contanier">{{ userName }}</div>
      <label for="weight">Age: </label>
      <div class="field-contanier">{{ userAge }}</div>
      <label for="weight">Weight: </label>
      <div class="field-contanier">{{ userWeight }}</div>
      <label for="weight">Weight Units: </label>
      <div class="field-contanier">{{ userWeightUnit }}</div>
      <label for="weight">Height: </label>
      <div class="field-contanier">{{ userHeight }}</div>
      <label for="weight">Height Unit </label>
      <div class="field-contanier">{{ userHeightUnit }}</div>

      <button (click)="previousStep()" class="form-button">Back</button>
      <button (click)="enrollomentAllergens()" class="form-button">Next</button>
    </ng-container>
    <!-- * Ends confirmInfoStep section -->

    <!-- * Starts userIntoleranceStep section -->
    <ng-container
      *ngIf="currentStep[0] === userIntoleranceStep"
      [formArrayName="settings"
      ]
    >
      <div class="grid-container">
        <!--
        <ng-container *ngFor="let intolerancy of intolerances; let i = index">
          <button
            [id]="intolerancy"
            (change)="addIntolerance($event, i)"
            [ngClass]="{ activeIntolerance: i === selectedIndex }"
            (click)="addIntolerance($event, i)"
            class="form-button"
            type="button"
            [value]="intolerancy"
          >
            {{ intolerancy | titlecase }}
          </button>
        </ng-container> -->

        <ng-container
          *ngFor="let intolerancy of MOCK_INTOLERANCES; let i = index"
        >
          <button
            #myIdElias
            class="form-button"
            type="button"
            [id]="intolerancy"
            [ngClass]="{ active: userIntoleranceList.includes(i) }"
            (click)="setActiveIndex(i)"
             [value]="intolerancy"
          >
            {{ intolerancy.value | titlecase }}
          </button>
        </ng-container>
      </div>
      <hr />
      <button (click)="previousStep()" class="form-button">Back</button>
      <button
        class="form-button"
        [disabled]="!personalForm.valid"
        (click)="addUserLikes()"
      >
        Continue
      </button>
    </ng-container>
    <!-- * Ends userIntoleranceStep section -->

    <!-- * Start addLikes section -->
    <ng-container *ngIf="currentStep[0] === addLikes">
      <div></div>
      <h1>Search for Ingredients</h1>
      <pre>Likes: {{ userLikes.join(" ") }} </pre>
      <pre>Dislikes: {{ userDislikes.join(" ") }} </pre>
      <button
        class="form-button"
        [disabled]="!personalForm.valid"
        (click)="previousStep()"
      >
        Back
      </button>
      <button
        class="form-button"
        routerLink="/dashboard"
      >
        Dashboard
      </button>
      <div class="inputContainer">
        <label for="ingredientsSuggest"></label>
        <input
          class="input-field"
          placeholder="1000 ingredients"
          type="text"
          list="ingredientsSuggest"
          (keyup)="searchOnKeyUp($event)"
        />
        <ng-container *ngFor="let suggestion of matches; let i = index">
          <div
            id="suggestion"
            #optionSuggestion
            class="optionSuggest user-pref"
          >
            <span class="user-pref">{{ suggestion.ingredient }}</span>
            <button class="form-button like" (click)="addLike(suggestion)">
              LIKE
            </button>
            <button
              class="form-button dislike"
              (click)="addDislike(suggestion)"
            >
              DISLIKE
            </button>
          </div>
        </ng-container>
      </div>
    </ng-container>
    <!-- * Ends addLikes section -->
  </form>
</section>
