nav ul{
  display: flex;
  justify-content: flex-end;
  width: 100%;
  cursor: pointer;
}

li{
  margin: 15px 25px;
  padding: 10px;
  list-style: none;
  text-align: center;
}

li:hover{
  background-color: ghostwhite;
  padding: 10px;
}

.searchContainer {
  width: 80%;
  margin: auto;
  z-index: 1;
}
