  <nav>
    <ul>
      <li routerLink="home">
        <span >Discover</span>
      </li>
      <!-- <li routerLink="grid">
        <span >Grid</span>
      </li> -->
      <li routerLink="searchRecipes">
        <span >Search</span>
      </li>
      <li routerLink="advancedSearch">
        <span >Advanced Search</span>
      </li>
      <li routerLink="savedRecipes">
        <span >Saved</span>
      </li>
    </ul>
  </nav>
  <div  class="searchContainer">
    <router-outlet></router-outlet>
    <div>
      <pre>
      </pre>
    </div>
  </div>



