  <nav>
    <ul>
      <li routerLink="home">
        <span >Discover Recipes</span>
      </li>
      <li routerLink="searchRecipes">
        <span >Search Recipes</span>
      </li>
      <li routerLink="advancedSearch">
        <span >Advances Search</span>
      </li>
      <li routerLink="savedRecipes">
        <span >Saved Recipes</span>
      </li>
    </ul>
  </nav>
  <div  class="searchContainer">
    <router-outlet></router-outlet>
    <div  >
      <pre>


      </pre>
    </div>
  </div>



