/*
* Step 0
*/
section {
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.row label {
  margin: 10px;
}

.radio-container label input{
  opacity: .7;
  margin: 2px;
}
.input-field {
  margin: 10px;
  background-color: transparent;
  border: 1px solid black;
  border-radius: 5px;
}

.inputContainer .input-field {

  background-color: transparent;
  border: 1px solid black;
  border-radius: 5px;
  width: 100%;
}
.inputContainer .optionSuggest {
  width: 100%;
  background-color: transparent;
  border-radius: 5px;

}
.inputContainer .optionSuggest:hover {
 background-color: aliceblue;
  cursor: pointer;
}



.form-button {
  margin: 20px;
  width: 6rem;
  height: 2rem;
  border: 1px solid black;
  background-color: transparent;
  border-radius: 5px;
  color: black;

}

 .like {
  border: 4px solid green;
  color:  green;

}

.dislike {
  border: 4px solid red;
  color:  red;

}


.active {
  background-color: red;
}

/*
* Step 1
*/

.grid-container{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
}

.optionSuggest {
  background-color: white;
  width: 100;
  padding:  5px;

}

